APP_NAME=[[.AppName]]
GIT_COMMIT_ID=dev

# Logging
LOG_ADD_SOURCE=false
LOG_LEVEL=INFO

# OpenTelemetry
OTEL_ENDPOINT=localhost:4317
OTEL_USE_GRPC=true
# OTEL_CA_PATH=
# OTEL_CA_CONTENT=
[[- if .HasHTTP]]

# HTTP Server
HTTP_PORT=8000
HTTP_ADDRESS=
[[- end]]
[[- if .HasGRPC]]

# gRPC Server
GRPC_PORT=8001
GRPC_ADDRESS=
[[- end]]
[[- if .HasConsumer]]

# RabbitMQ
AMQP_URI=amqp://guest:guest@localhost:5672
AMQP_CONNECTION_NAME=[[.AppName]]-consumer
[[- end]]
[[- if .HasPyroscope]]

# Pyroscope Profiling
PYROSCOPE_ENABLED=false
PYROSCOPE_SERVER_ADDRESS=http://localhost:9999
[[- end]]
